In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('Sheet_1.csv', encoding='latin-1')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 8 columns):
response_id      80 non-null object
class            80 non-null object
response_text    80 non-null object
Unnamed: 3       2 non-null object
Unnamed: 4       0 non-null float64
Unnamed: 5       1 non-null object
Unnamed: 6       0 non-null float64
Unnamed: 7       1 non-null object
dtypes: float64(2), object(6)
memory usage: 5.1+ KB

In [8]:
df.head()

,response_id,class,response_text,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,response_1,not_flagged,I try and avoid this sort of conflict,NaN,NaN,NaN,NaN,NaN
1,response_2,flagged,Had a friend open up to me about his mental ad...,NaN,NaN,NaN,NaN,NaN
2,response_3,flagged,I saved a girl from suicide once. She was goin...,NaN,NaN,NaN,NaN,NaN
3,response_4,not_flagged,i cant think of one really...i think i may hav...,NaN,NaN,NaN,NaN,NaN
4,response_5,not_flagged,Only really one friend who doesn't fit into th...,,NaN,NaN,NaN,NaN

In [9]:
df = df.drop(["Unnamed: 3", "Unnamed: 4", "Unnamed: 5", "Unnamed: 6","Unnamed: 7"], axis = 1)
df = df.rename(columns={"v1":"class", "v2":"Responses"})
df.head()

  response_id        class                                      response_text
0  response_1  not_flagged              I try and avoid this sort of conflict
1  response_2      flagged  Had a friend open up to me about his mental ad...
2  response_3      flagged  I saved a girl from suicide once. She was goin...
3  response_4  not_flagged  i cant think of one really...i think i may hav...
4  response_5  not_flagged  Only really one friend who doesn't fit into th...

In [10]:
df['class'].value_counts()

not_flagged    55
flagged        25
Name: class, dtype: int64

## Loading the resume : Sheet 2

In [13]:
df2 = pd.read_csv('Sheet_2.csv', encoding='latin-1')
df2 = df2.rename(columns={"v1":"class", "v2":"Resumes"})
df2.head()

  resume_id        class                                        resume_text
0  resume_1  not_flagged  \rCustomer Service Supervisor/Tier - Isabella ...
1  resume_2  not_flagged  \rEngineer / Scientist - IBM Microelectronics ...
2  resume_3  not_flagged  \rLTS Software Engineer Computational Lithogra...
3  resume_4  not_flagged   TUTOR\rWilliston VT - Email me on Indeed: ind...
4  resume_5      flagged  \rIndependent Consultant - Self-employed\rBurl...

In [14]:
df2['class'].value_counts()

not_flagged    92
flagged        33
Name: class, dtype: int64